.container {
  width: 100%;
  margin:auto;
  min-height: 100vh;
  height: fit-content;
  padding: 50px 30px;
  /* border: 1px solid blue; */
  /* background-color: white; */
}
/* Search Section */
.searchContainer{
    width:fit-content;
    min-width: 70%;
    height:fit-content;
    max-width: 100%;
    padding:10px;
    margin:auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 10;
    position: relative;
    margin-top:-40px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 70px;
    display: flex;
}
.searchInner{

    width:100%;
    display: flex;
    background-color:hsl(0, 0%, 98%);
    flex-wrap: wrap;

}
.inputBox{
/* min-width: 200px; */
    /* width:25%; */
    width:100%;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    /* border:1px solid blue; */
    border-right: 1px solid hsl(0,0%, 90%);
    padding:5px;
    flex: 1 1;
}
.inputBox svg{
    width:10%;
}
.inputBox input{
padding:5px 20px 5px 0px;
width:90%;
background-color:hsl(0, 0%, 98%);
color:black;
text-align: start;
font-size: 16px;

}
.selectBox{
    /* width:25%; */
    background-color:hsl(0, 0%, 98%);
    border-right: 1px solid hsl(0,0%, 90%);
    padding:5px 20px 5px 20px;
    font-size: 14px;
    flex: 1 1;

}
.searchContainer button{
    /* width:25%; */
    padding:18px 40px;
    color:white;
    background-color:  #4f46e5e6;
    font-weight: 600;
    flex: 1 1;

}
.jobSection {
    min-height: 100%;
  height: fit-content;
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border:1px solid red; */
  gap:25px;
}
/* Card CSS */
.cardContainer {
  width:360px;
  /* max-width: 360px; */
  height: fit-content;
  /* min-height: 700px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  flex: 1 1;
  min-width: 320px;

}
.upperBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lowerBox {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.cardFirst {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(54, 54, 54);
}
.cardSecond {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  color:  rgb(161, 160, 160);

}
.cardThird {
  display: flex;
  justify-content: space-between;
}
.cardThird span {
  color: #4f46e5e6;
  background-color: rgb(239, 235, 235);
  padding: 1px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
}
.cardThird div {
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgb(161, 160, 160);
  font-size: 16px;
  gap:5px;
}
.slider {
  width: 100%;
  height: 1px;
  background-color: rgb(239, 235, 235);
}
.cardFourth {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.cardFourth img{
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cardFourth div {
  display: flex;
  flex-direction: column;
}
.cardFourth div p:first-child {
  font-weight: 600;
  font-size: 22px;
}
.cardFourth div p:last-child {
    color:  rgb(161, 160, 160);
}

@media (max-width:488px){
    .cardContainer{
        width:320px;
        flex: 0 0;
    }
}