.cursor {
  cursor: pointer;
}

.cursor:hover {
  background: #fff8e6;
}

.cursor-dark:hover {
  background-color: #2f2e2d;
}

.blue {
  font-size: 18px;
  font-weight: 600;
  color: #6468c5;
  display: block;
}

/* 2f2e2d */
