.background {
  max-height: 100%;
  height: 91vh;
  width: 100%;
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 91vh;
}
.chatbox::-webkit-scrollbar {
  display: none;
}
.info::-webkit-scrollbar {
  display: none;
}

.icons {
  margin: 20px 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.userContainer::-webkit-scrollbar {
  display: none;
}
.userContainerDark::-webkit-scrollbar {
  display: none;
}
.userContainer {
  width: 24vw;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 1px 5px 5px 5px #d0d0d0;
}
.userContainerDark {
  width: 24vw;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 1px 5px 5px 5px black;
}
.chatUserName {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}
.chatBoxHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.chatHeaderSelected {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: #3a8df5;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chatHeader:hover,
.chatHeaderDark:hover,
.chatHeaderSelected:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 5px 5px 5px #474646;
}
.fileicon {
  cursor: pointer;
  color: white;
}

.chatHeader {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: white;
  color: black;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.groupChatHeader {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: white;
  color: black;
  align-items: center;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
}
.groupChatHeaderDark {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: #313a55;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
}
.chatHeaderDark {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: #313a55;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chatName {
  font-size: 20px;
  font-weight: 500;
}
.profile {
  border-radius: 50%;
}
.container {
  display: flex;
  width: 38vw;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}

.title {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.chatbox {
  min-width: 100%;
  height: 480px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
  text-align: center;
}

.formContainer {
  width: 100%;
}

.formBase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: "16px";
  width: 100%;
  padding: 8px;
}
.info {
  width: 28vw;
  overflow: scroll;
  padding: 0px 20px;
  margin-left: 30px;
  margin-top: 10px;
}
.infoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.selectedUsername {
  font-weight: bold;
  font-size: 20px;
}
.selectedDesignation {
  color: #909bad;
}
.infoBody {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.selectedBodyHeader {
  font-weight: 900;
  font-size: 18px;
}
.selectedBody {
  margin-top: 20px;
  color: #909bad;
  font-size: 14px;
}
.invite {
  margin: 5px;
}
.wship {
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 1000px) {
  .background {
    flex-wrap: wrap;
    height: 100%;
  }
  .userContainer {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar{
    display:none;
  }
  .navbar {
    padding: 5px 10px;
  }
  .dark {
    display: none;
  }
  .wship {
    font-size: 11px;
  }
  .userLoggedin {
    font-size: 15px;
  }
  .invite {
    font-size: 10px;
  }
  .background {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .userContainer {
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin: 0px;
    margin-left: 0px;
  }
  .chatBoxHeader {
    margin-left: 0px;
  }
  .userContainerDark,
  .container,
  .info {
    height: 100%;
    width: 93%;
    margin: 20px 0px;
  }
}
